<h1 class="pb-5">Formula One Drivers: 2021 Season</h1>

<% @drivers.each do |driver| %>
  <%# <%= image_tag driver.image, :class => 'feature' if driver.image.present? %>
  <h5 class = "driver pb-3">
    <%= link_to image_tag(driver.image, :class => 'driver_thumb pb-3'), driver_path(driver.id) %><br>
    <%= link_to driver.name, driver_path(driver.id) %><br>
    Current Season Ranking: <%= driver.current_ranking %>
  </h5>

<% end %>
