<% if account_signed_in? %>
  <div class="float-end">
    <%= link_to "Create New Community", new_community_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>

<h2>Communities</h2>

<% if @communities.size > 0 %>
<% @communities.each do |community| %>

  <div class="card p-4 mt-5">
    <h3><%= link_to community.name, community %></h3>
    <%= simple_format community.rules %>
  </div>

<% end %>
<% else %>
  <p>There are no communities.....</p>
<% end %>
