<div class="jumbotron jumbotron-fluid bg-dark">

  <div class="jumbotron-background">
    <img src="https://www.formula1.com/content/dam/fom-website/sutton/2020/Styria/Saturday/1255581432.jpg.transform/9col/image.jpg" class="">
  </div>

  <div class="container text-white">

    <h1 class="display-4">Everything Formula One</h1>
    <p class="lead">The home of all F1 related discussions.</p>
    <hr class="my-4">
    <p>Providing the latest news, images and videos on the famous sport of F1 to our audience from across the world.</p>
    <a class="btn btn-primary btn-lg" href="/accounts/sign_up" role="button">Sign up Today!</a>

  </div>
  <!-- /.container -->


</div>
<!-- /.jumbotron -->
<!--
For IE support of object-fit add this to your document
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"&gt;&lt;/script&gt;
-->

<h3 class="homepage-heading">2021 Live Results: Top 10</h3>
<% drivers10 = @drivers.first(10) %>
<% drivers10.each do |driver| %>
  <%# <%= image_tag driver.image, :class => 'feature' if driver.image.present? %>
  <p class = "driver pb-4">
    <%= link_to image_tag(driver.image, :class => 'driver_thumb'), driver_path(driver.id) %><br>
    <%= link_to driver.name, driver_path(driver.id) %><br>
    Current Season Ranking: <%= driver.current_ranking %>
  </p>

<% end %>



<!-- <p>
  <#% @driver_data.each do |driver| %>
    <h4>
      <#%= driver["driver_name"] %>
      <#%=  %>
    </h4>
  <#% end %> -->

  <!-- <strong>Driver:</strong> <#%= @driver_name %><br>
  <strong>Current Position:</strong> <%#= @driver_position %><br>
  <strong>Season Points:</strong> <%#= @driver_points %> -->
<!-- </p> -->
