
<div class="jumbotron jumbotron-fluid bg-dark">

  <div class="jumbotron-background">
    <img src="https://www.formula1.com/content/dam/fom-website/sutton/2020/Styria/Saturday/1255581432.jpg.transform/9col/image.jpg" class="">
  </div>

  <div class="container text-white">

    <h1 class="display-4">Everything Formula One</h1>
    <p class="lead">The home of all F1 related discussions.</p>
    <hr class="my-4">
    <p>Providing the latest news on the famous sport of F1 to our audience from across the world.</p>
    <a class="btn btn-primary btn-lg" href="/accounts/sign_up" role="button">Sign up Today!</a>

  </div>
  <!-- /.container -->


</div>
<!-- /.jumbotron -->
<!--
For IE support of object-fit add this to your document
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"&gt;&lt;/script&gt;
-->
<div class="homebackground">
  <h3 class="homepage-heading p-3 mb-5 text-white">2021 Season Live Results: Top 10</h3>
  <div>
  <% drivers10 = @drivers.first(10) %>
  <% drivers10.each do |driver| %>
    <%# <%= image_tag driver.image, :class => 'feature' if driver.image.present? %>
    <h5 class = "driver pb-4">
      <%= link_to image_tag(driver.image, :class => 'driver_thumb pb-3'), driver_path(driver.id) %><br>
      <%= link_to driver.name, driver_path(driver.id) %><br>
      Current Season Ranking: <%= driver.current_ranking %>
    </h5>
  <% end %>
  </div>
</div>

<div style="text-align: center;" class="m-6 pb-5" >
  <iframe width="560" height="315" src="https://www.youtube.com/embed/g-NUz0pQC0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
